@page "/categories"
@inject HttpClient Http
@using Newtonsoft.Json
@using TriviaFrontend.Models

<h3>Categories</h3>

@if (cat == null)
{
    <h5>Loading Categories......</h5>
}
else
{
    foreach (var item in @cat)
    {
        <h6>@item.Name</h6>

    }
}

@code {

    public List<TriviaCategories> cat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var jsonCategories = await Http.GetStringAsync("https://localhost:44321/api/Response/categories");
        cat = JsonConvert.DeserializeObject<List<TriviaCategories>>(jsonCategories);
    }

}
